body {
    margin: 0;
}
.block {
    width: 200px;
    /*width: 100vw; full width from razmera ekrana not from parent*/
    height: 200px;
    background-color: #0F2336;
    /*transition-duration: 5s;*/
    /*transition-delay: 0.2s;*/
    /*transition-property: all;*/
    /*transition-property: width;*/
    /*transition-timing-function: ease;*/
    /*transition-timing-function: ease-in;*/
    /*transition-timing-function: ease-out;*/
    /*transition-timing-function: ease-in-out;*/
    /*transition-timing-function: cubic-bezier(.17,.67,.89,-0.44);*/
    transition: all 3s ease-in-out 1s;
}
.block:hover {
    /*bez hovera transition ne budet rabotat'*/
    /*Transition bul jaka ne pishem, because it will work halfly*/
    background-color: #ffa628;
    width: 100%;
}

/*.circle {
    width: 200px;
    height: 200px;
    background-color: darkorchid;
    border-radius: 50%;
    animation-name: swing;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: ease;
    !*animation-iteration-count: 3;*!
    animation-iteration-count: 4;
    animation-direction: alternate;
}*/
/*.circle {
    width: 200px;
    height: 200px;
    background-color: darkorchid;
    border-radius: 50%;
    animation-name: colors;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: ease;
    !*animation-iteration-count: 3;*!
    animation-iteration-count: 4;
    animation-direction: alternate;
}*/

.circle {
    width: 200px;
    height: 200px;
    background-color: darkorchid;
    border-radius: 50%;
    /*animation-name: pulse;*/
    /*animation-duration: 1s;*/
    /*animation-delay: 0.5s;*/
    /*animation-timing-function: ease;*/
    /*!*animation-iteration-count: 3;*!*/
    /*animation-iteration-count: 10;*/
    /*animation-direction: alternate;*/
    animation: bounce 2s ease infinite;
}
/*
.circle {
    width: 200px;
    height: 200px;
    background-color: darkorchid;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease;
    !*animation-iteration-count: 3;*!
    animation-iteration-count: 10;
    animation-direction: alternate;
}*/
@keyframes  swing {
    from {
        margin-left: 0;
    }
    to {
        margin-left: calc(100% - 200px);
    }
}
@keyframes colors {
    0% {
        background-color: yellow;
    }
    50% {
        background-color: #ffa628;
    }
    100% {
        background-color: #0F2336;
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(2);
    }
    66% {
        transform: scale(5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}



@keyframes red {
    0%{
        background-color: red;
    }
    33.33%{
        background-color: #FFF;
    }
    66.66%{
        background-color: #FFF;
    }
    /*   100%{
      } */
}
@keyframes yellow {
    0%{
        background-color: #FFF;
    }
    33.33%{
        background-color: yellow;
    }
    66.66%{
        background-color: #FFF;
    }
    /*   100%{
      } */
}
@keyframes green {
    0%{
        background-color: #FFF;
    }
    33.33%{
        background-color: #FFF;
    }
    66.66%{
        background-color: green;
    }
    /*   100%{
      } */
}


.traffic-light{
    width: 150px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.traffic-light .circle{
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #FFF;
}

.traffic-light .red{
    background-color: red;
    animation: red 5s ease-in-out infinite;
}
.traffic-light .yellow{
    animation: yellow 5s ease-in-out infinite;
    background-color: yellow;
}
.traffic-light .green{
    animation: green 5s ease-in-out infinite;
    background-color: green;
}








